.slick {
  width: 500px;
  border: 1px solid #ccc;
  position: relative; }
  .slick .slick-content {
    width: inherit;
    text-align: center; }
    .slick .slick-content img {
      width: inherit; }
  .slick .slick-bottom {
    border-top: 1px solid #ccc;
    height: 25px;
    padding-top: 5px;
    width: inherit;
    background: white; }
    .slick .slick-bottom .slick-controls img {
      width: 20px;
      margin-left: 5px; }
    .slick .slick-bottom .slick-no {
      float: right;
      padding-right: 10px; }
      .slick .slick-bottom .slick-no .skip {
        width: 20px;
        padding: 0px; }
      .slick .slick-bottom .slick-no .fullscreen {
        padding-left: 10px;
        width: 17px;
        padding-top: 2px; }
      .slick .slick-bottom .slick-no div {
        float: right; }
  .slick .overlay-controls .overlay-next {
    height: calc(100% - 30px);
    width: 50%;
    display: block;
    position: absolute;
    top: 0;
    right: 0; }
  .slick .overlay-controls .overlay-prev {
    height: calc(100% - 30px);
    width: 50%;
    display: block;
    position: absolute;
    top: 0;
    left: 0; }

.fullscreen {
  width: initial;
  border: none; }
  .fullscreen .slick-content {
    width: initial;
    height: calc(100% - 30px); }
    .fullscreen .slick-content img {
      width: initial;
      height: 100%; }
