.slick{
	width: 500px;
	border: 1px solid #ccc;
	
	.slick-content{
		width: inherit;
		text-align: center;

		img {
			width: inherit;
		}
	}

	.slick-bottom{
		border-top: 1px solid #ccc;
		height: 25px;
		padding-top: 5px;
		width: inherit;
		background: white;
		
		.slick-controls {
			img {
				width: 20px;
				margin-left: 5px;
			}
		}

		.slick-no {
			float: right;
			padding-right: 10px;

			.skip {
				width: 20px;
				padding: 0px;
			}

			.fullscreen {
				padding-left: 10px;
				width: 17px;
				padding-top: 2px;
			}

			div {
				float: right;
			}
		}
	}
}

.fullscreen {
	width: initial;
	border: none;

	.slick-content {
		width: initial;
		height: calc(100% - 30px);

		img {
			width: initial;
			height: 100%;
		}
	}
}