.slick{
	width: 500px;
	border: 1px solid #ccc;
	
	.slick-content{
		width: inherit;
		height: 375px;

		img {
			width: inherit;
		}
	}

	.slick-bottom{
		border-top: 1px solid #ccc;
		height: 25px;
		padding-top: 5px;
		
		.slick-controls {
			img {
				width: 20px;
				margin-left: 5px;
			}
		}

		.slick-no {
			float: right;
			padding-right: 10px;
		}
	}

	.loader{
		width: 0px;
		display: none;
	}
}